/Workshop1/nbproject/private/
/workshop1/nbproject/private/
/Workshop1/build/
/workshop1/build/
/Slot5/nbproject/private/
/Slot5/build/
/FirstPrj/nbproject/private/
/FirstPrj/build/
/Lap2/nbproject/private/
/Lap2/build/
/Slot7/nbproject/private/
/Slot7/build/
/Lap3/nbproject/private/
/Lap3/build/
/Slot8/nbproject/private/
/Q1/nbproject/private/
/Slot8/build/
/Q1/build/
/Q2/nbproject/private/
/Q2/build/
/2_10/nbproject/private/
/Slot9/nbproject/private/
/given_Slot 9/Q1/build/
/given_Slot 9/Q2/build/
/given_Slot 9/Q3/build/
/Lap4/Part1/ItemManager/nbproject/private/
/Lap4/Part1/Slot10/nbproject/private/
/2_10/build/
/Lap4/Part1/ItemManager/build/